<header class="header">
    <a href="/" class="logo"><%= image_tag("logo5.png") =%> </a>
</header>

<article>
  <p class="text3 tableheader">아래의 주소를 친구들에게 보내서 함께 약똑을 잡아보세요!</p>
  <p class="text4">https://yakdok-rails-five-ahnroonjang.c9users.io/home/gyosipage/<%= @myroom.roomnumber%></p>
</article>

<hr>

<h3>가능한 시간을 드래그하고 완료버튼 눌러라</h3>
<div class="container-for-table">
  <%= form_tag(home_gyosiyakdokcreate_path) do %>
 <%=hidden_field_tag "roomnumber", @myroom.roomnumber%>
    <table class="table" id="timetable">
          <thead>
            <tr class="thead-color">
              <th class="timenumber">교시</th>
              <th>월</th>
              <th>화</th>
              <th>수</th>
              <th>목</th>
              <th>금</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>수업있땅</td>
              <td>수업있당</td>
              <td>수업</td>
              <td>쉅쉅</td>
              <td>수업</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
   
          </tbody>
    </table>
  
    <div class="actions col-12">
      <div class="row">
        <button id="signup_btn" class="btn btn-lg btn-block">
          <%= submit_tag "완료했다", :id => "signup_input" %></button>
      </div>
    </div>
    <% end %>
</div>

  <%= form_tag home_gyosiyakdokcreate_path do %>
    <%=hidden_field_tag "roomnumber", @myroom.roomnumber%>
  
    <%= button_to "추가하기", home_gyosiyakdokcreate_path, method:"post" %>
   <% end %>




 