<h1>이 주소를 복사하여 시간 함께 맞추고 싶은 새끼들에게 뿌려라</h1>
<h2>https://yakdok-rails-five-ahnroonjang.c9users.io/home/siganpage?yakdok= <%=@yakdok %></h2>
<br>



<p> 되는 시간을 체크/드래그해라</p>
<hr>
<p>테 이 블</p>
<%= @a %>
<hr>

<%= form_tag(home_siganyakdokcreate_path ) do %>
  <%= submit_tag("완료했다") %>
  <%= link_to 'submit', "/home/siganresult", :onclick=>"document.getElementById('form_id').submit()" %>
<% end %>