<h1>이 주소를 복사하여 시간 함께 맞추고 싶은 자들에게 뿌려라</h1>
<h2>yakdok-rails-five-ahnroonjang.c9users.io/home/siganpage/<%= @myroom.roomnumber%></h2>
<br>



<p> 되는 시간을 체크/드래그해라</p>
<hr>
<p>테 이 블</p>
<!--if 구문 추가해서 만약 로그인 상태라면 본인 시간 사용할 수 있게 하도록! 기존 정보 사용이 가능합니다 라는 내용 추가
및 @chosensigan에 기존 정보 가져오게 할 것-->
<%= @chosensigan = "" %>
<%= @chosensigan = "24/13/15/178/154/124" %>
<%= @nalja = "" %>
<%= @nalja = "7" %> <!--며칠인지 추가-->
<hr>


  <%= form_tag home_siganyakdokcreate_path do %>
    <%=hidden_field_tag "roomnumber", @myroom.roomnumber%>
    <%= hidden_field_tag "sigan", @chosensigan %>
    <%= hidden_field_tag "count", @nalja %>
    <%= button_to "추가하기", home_siganyakdokcreate_path, method:"post" %>
   <% end %>