<h1>이 주소를 복사하여 시간 함께 맞추고 싶은 새끼들에게 뿌려라</h1>
<h2>yakdok-rails-five-ahnroonjang.c9users.io/home/siganpage/<%= @myroom.roomnumber%></h2>
<br>



<p> 되는 시간을 체크/드래그해라</p>
<hr>
<p>테 이 블</p>
<%= @chosensigan = "" %>
<%= @chosensigan = "234/13/15/178/154/124" %>
<%= @nalja = "" %>
<%= @nalja = 7 %> <!--며칠인지 추가-->
<hr>


  <%= form_tag home_siganyakdokcreate_path do %>
    <%=hidden_field_tag "roomnumber", @myroom.roomnumber%>
    <%= hidden_field_tag "sigan", @chosensigan %>
    <%= hidden_field_tag "count", @nalja %>
    <%= button_to "추가하기", home_siganyakdokcreate_path, method:"post" %>
   <% end %>